@if (Account != null)
{
    <h3>@(Account.Name)</h3>
    <div class="row justify-content-between m-2">
        <div>
            <span>
                <button class="btn btn-primary" disabled="@DidAnswer" @onclick="@(() => Answered.InvokeAsync("debit"))">Debit</button>
            </span>
            <span>
                <button class="btn btn-primary" disabled="@DidAnswer" @onclick="@(() => Answered.InvokeAsync("credit"))">Credit</button>
            </span>
        </div>
        <div>
            <span><i class="oi oi-circle-check"></i> @Score</span>
            <span><i class="oi oi-comment-square"></i> @QuestionCount /10</span>
        </div>
    </div>
}

@code {
    [Parameter] public Account Account { get; set; }
    [Parameter] public bool DidAnswer { get; set; }
    [Parameter] public EventCallback<string> Answered { get; set; }
    [Parameter] public int Score { get; set; }
    [Parameter] public int QuestionCount { get; set; }

}
