@if (Account != null)
{
    <div class="row">
        <div class="col-lg-12">
            <h4>@(Account.Name)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <span>
                <MatButton Raised="true" Disabled="@DidAnswer" OnClick="@(() => Answered.InvokeAsync("debit"))">Debit</MatButton>
            </span>
            <span>
                <MatButton Raised="true" Disabled="@DidAnswer" OnClick="@(() => Answered.InvokeAsync("credit"))">Credit</MatButton>
            </span>
        </div>
    </div>
}

@code {
    [Parameter] public Account Account { get; set; }
    [Parameter] public bool DidAnswer { get; set; }
    [Parameter] public EventCallback<string> Answered { get; set; }
    [Parameter] public int Score { get; set; }
    [Parameter] public int QuestionCount { get; set; }

}
