@page "/questions"
@inherits QuestionsBase

<h2>Which side does the following account increase?</h2>
@if (Account != null)
{
    <h3>@(Account.Name)</h3>
    <span>
        <MatButton Raised="true" Disabled="@(DidAnswer)" OnClick="@(() => Answered("debit"))">Debit</MatButton>
    </span>
    <span>
        <MatButton Raised="true" Disabled="@(DidAnswer)" OnClick="@(() => Answered("credit"))">Credit</MatButton>
    </span>

    @if (DidAnswer)
    {
        <div class="answered">
            @if (Correct)
            {
                <span><MatIcon Icon="thumb_up"></MatIcon></span>
                <div>
                    Good work! The <strong>@(Account.Name)</strong> account is classified
                    as a <strong>@(Account.Classification.Type) account</strong>.
                </div>
            }
            else
            {
                <span><MatIcon Icon="thumb_down"></MatIcon></span>
                <div>
                    The <strong>@(Account.Name)</strong> account increases on the
                    <strong>@(Account.IncreasingSide)</strong> side because it is classified
                    as a <strong>@(Account.Classification.Type) account</strong>.
                </div>
            }
        </div>
    }

    <div class="feedback">
        <h5>Score: @Score</h5>
        <h5>Questions answered: @QuestionCount /10</h5>
    </div>

    @if (QuestionCount == 10)
    {
        if (Score > 1 && Score <= 5)
        {
            <div>Ah, you achieved @Score / 10! Better luck next time!</div>
        }
        else if (Score > 5 && Score < 10)
        {
            <div>Well done, you achieved @Score / 10! Wow pretty good!</div>
        }
        else if (Score == 10)
        {
            <div>Amazing, you achieved @Score / 10! Brilliant</div>
        }
        else
        {
            <div>Wat gebeur!</div>
        }
    }
}
