@using ClientApp.Shared.Models

<MatCard Class="question-card">
    <MatCardContent Class="m-2">
        <div>
            <MatHeadline6 class="demo-mat-card-clean-margin">
                @if (Correct)
                {
                    <span style="color: green"><MatIcon Icon="thumb_up"></MatIcon> That's correct!</span>
                }
                else
                {
                    <span style="color: red"><MatIcon Icon="thumb_down"></MatIcon> Incorrect.</span>
                }
            </MatHeadline6>
        </div>

        <MatBody1>
            @if (Correct)
            {
                <p>
                    The <b>@(Account.Name)</b> account is classified
                    as @(AOrAn()) <b>@(Account.Classification.Type) account</b>.
                </p>
            }
            else
            {
                <p>
                    The <b>@(Account.Name)</b> account increases on the
                    <strong>@(Account.IncreasingSide)</strong> side because it is classified
                    as @(AOrAn()) <b>@(Account.Classification.Type) account</b>.
                </p>
            }
        </MatBody1>
    </MatCardContent>

    @if (Time > 0)
    {
        <MatProgressBar @bind-Progress="Time"></MatProgressBar>
    }
</MatCard>

@code {
    [Parameter]
    public Account Account { get; set; }
    [Parameter]
    public bool Correct { get; set; }
    [Parameter]
    public int Score { get; set; }
    [Parameter]
    public int QuestionCount { get; set; }
    [Parameter]
    public double Time { get; set; }

    public virtual string AOrAn()
    {
        if (Account.Classification.Type == "Asset" ||
            Account.Classification.Type == "Expense" ||
            Account.Classification.Type == "Income")
        {
            return "an";
        }
        return "a";
    }
}