@using BlazorKidConApp.Shared.Models

<div class="card">
    <div>
        <h4 class="card-header">
            @if (Correct)
            {
                <span style="color: green"><i class="oi oi-thumb-up"></i> Correct!</span>
            }
            else
            {
                <span style="color: red"><i class="oi oi-thumb-down"></i> Incorrect!</span>
            }
        </h4>
    </div>

    <div class="card-body">
        @if (Correct)
        {
            <p>
                The <b>@(Account.Name)</b> account is classified
                as @(AOrAn()) <b>@(Account.Classification.Type) account</b>.
            </p>
        }
        else
        {
            <p>
                The <b>@(Account.Name)</b> account increases on the
                <strong>@(Account.IncreasingSide)</strong> side because it is classified
                as @(AOrAn()) <b>@(Account.Classification.Type) account</b>.
            </p>
        }
    </div>

    <div class="card-footer d-flex justify-content-around">
        <span><i class="oi oi-circle-check"></i> @Score</span>
        <span><i class="oi oi-comment-square"></i> @QuestionCount /10</span>
    </div>

    @if (Time > 0)
    {
        <MatProgressBar @bind-Progress="Time"></MatProgressBar>
    }
</div>

@code {
    [Parameter]
    public Account Account { get; set; }
    [Parameter]
    public bool Correct { get; set; }
    [Parameter]
    public int Score { get; set; }
    [Parameter]
    public int QuestionCount { get; set; }
    [Parameter]
    public double Time { get; set; }

    public virtual string AOrAn()
    {
        if (Account.Classification.Type == "Asset" ||
            Account.Classification.Type == "Expense" ||
            Account.Classification.Type == "Income")
        {
            return "an";
        }
        return "a";
    }
}